.App {
  background-color: #9ba8b8;
  width: 680px;
  height: 900px;
}

.menu-button {
  margin: 2px;
  border-color: #05828e;
  background-color: #162229;
  color: white;
  border-radius: 20px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

table td {
  width: 100px;
  height: 70px;
}