button {
    margin: 2px!important;
    border-color: #05828e;
    background-color: #162229;
    color: white;
    border-radius: 20px!important;
}

.solt-input-group input{
    width: 100%;
    height: 40px;
    border-radius: 7px;
}